<p id="notice"><%= notice %></p>

<h1>Listing Humen</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Power</th>
      <th>Age</th>
      <th>Description</th>
      <th>Fighting</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @humen.each do |human| %>
      <tr>
        <td><%= human.name %></td>
        <td><%= human.power %></td>
        <td><%= human.age %></td>
        <td><%= human.description %></td>
        <td><%= human.fighting %></td>
        <td><%= link_to 'Show', human %></td>
        <td><%= link_to 'Edit', edit_human_path(human) %></td>
        <td><%= link_to 'Destroy', human, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render :partial => "bookmark", :locals => {:xyz => 'abc'}, :object => 'Another value' %>
<br>
<% @oldest_human = Human.order(age: :desc).first %>
The oldest Human is <%= link_to "#{@oldest_human.name}(#{@oldest_human.age})", @special_human %>
<br>
<%= link_to 'New Human', new_human_path %>
