<% tweet = Tweet.find(5) %>
<h1><%= tweet.status %></h1>
<h2>Tweet #<%= tweet.id %></h2>
<p>Posted by: <%= tweet.zombie.name %></p>

<%# https://github.com/franzejr/best-ruby %>
<%= 'Using cycle to iterate over a array' %><br>
<% ring = %w[one two three].cycle %>
<%=  ring.take(5) %><br>

<br>
<%= 'Using alternative syntaxis' %><br>
<% ring = %w(uno dos tres\ cuatro).cycle %>
<% ring.take(4).each do |x| %>
<%= "Hi #{x}" %><br>
<% end %>


<%= 'and another' %><br>
<% ring = %w'5 6 7 8'.cycle %>
<%= ring.take(9) %><br>

<%# associative_arrays %>
<% associative = [ %w(Someone 1), %w(Someone 1) ] %>
<%= associative.assoc('Someone') %><br>
<%= associative.rassoc('1') %><br>

<br>
<%= 'Array of Strings' %><br>
<% s = %w(Michael Jonh Mary Stuart) %>
<%= s.cycle.take(5) %><br>

<%= 'Array of Symbols' %><br>
<% s = %i(Michael Jonh Mary Stuart) %>
<%= s.cycle.take 6 %><br>

<script>
$( function() {
  $("#special").click( function() {
    $("#special").css('background', 'red')
  } );
} );
</script>
<table border="1">
	<tr>
		<td >-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
	</tr>
	<tr>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
	</tr>
	<tr>
		<td>-</td>
		<td>-</td>
		<td id="special">-</td>
		<td>-</td>
		<td>-</td>
	</tr>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
	</tr>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
	</tr>
</table>