<% tweet = Tweet.find(5) %>
<h1><%= tweet.status %></h1>
<h2>Tweet #<%= tweet.id %></h2>
<p>Posted by: <%= tweet.zombie.name %></p>

<%# https://github.com/franzejr/best-ruby %>
<%= 'Using cycle to iterate over a array' %><br>
<% ring = %w[one two three].cycle %>
<%=  ring.take(5) %><br>

<br>
<%= 'Using alternative syntaxis' %><br>
<% ring = %w(uno dos tres\ cuatro).cycle %>
<% ring.take(4).each do |x| %>
<%= "Hi #{x}" %><br>
<% end %>


<%= 'and another' %><br>
<% ring = %w'5 6 7 8'.cycle %>
<%= ring.take(9) %><br>