<h1>Static#Red</h1>
  <div class="tabs">
    <a class="tab" data-target="#next-meal-proposed">
      <h4>Je propose</h4>
    </a>

    <a class="tab" data-target="#old-meal-proposed">
      <h4>Je proposais</h4>
    </a>

    <a class="tab" data-target="#awaiting-meal-ordered">
      <h4>Repas attendus</h4>
    </a>

    <a class="tab" data-target="#old-meal-ordered">
      <h4>Repas mangés</h4>
    </a>

    <a class="tab" data-target="#reviews">
      <h4>Mes notes</h4>
    </a>
  </div>

<div class="content">

  <%= render "proposed_meal" %>

  <%= render "old_proposed_meal" %>

  <%= render "awaiting_meal_ordered" %>

  <%= render "old_meal_ordered" %>

  <%= render "reviews" %>
</div>
