<h1>Static#tricks</h1>
<p>https://github.com/franzejr/best-ruby</p>

<%= image_tag"Koala.jpg" %><br>

<% age=rand(1..100) %>
<%= "With the age: #{age}, we can sat that '#{ageing age}'." %><br>

<%= debug fibo 6 %>

<%= using_fetch 't' %><br>

<h3><%= 'reduce(:+)' %></h3>
<%= reduce_plus %><br>

<h3><%= '(5..10).inject {|sum, n| sum + n }' %></h3>
<%= inject_plus %><br>

<h3><%= '(5..10).reduce(1, :*)' %></h3>
<%= reduce_mult %><br>

<h3><%= '(5..10).inject(1) {|product, n| product * n }' %></h3>
<%= reduce_block %><br>

