<h1>idiomatic</h1>
<p>https://github.com/franzejr/best-ruby</p>

<h4>collect : Creates a new array containing the values returned by the block.</h4>
<p>array = (1..10).to_a<p>
<%= array = (1..10).to_a %><br>

<p>array.collect{ |num| num * num }<p>
<%= array.collect{ |num| num * num } %><br>

<h4>select : Elements can be selected from an array according to criteria defined in a block.</h4>

<p>array.select{ |num| num < 5 }<p>
<%= array.select{ |num| num < 5 } %><br>

<p>array.select{ |num| num.even? }<p>
<%= array.select{ |num| num.even? } %><br>

<h4>Conditional assignment</h4>
<p>string_version = some_bool ? 'yes' : 'no'<p>
<%= some_bool=true %><br>
<%= string_version = some_bool ? 'yes' : 'no' %><br>

<%= debug @action_result %><br>

<%= 'Implicit return' %><br>
<%= debug @odd_even %><br>
<%= debug @odd_or_even_with_return %><br>

<%= 'Options Hash with defaults' %><br>
<%= debug @zombie_options %><br>

<h4>Use Symbol to_proc</h4>

<%= 'The & calls to_proc on the object, and passes it as a block to the method. The following calls are equivalent:' %><br>
<br>
<b><%= '%w(jonh mary michael).map { |x| x.upcase }' %></b><br>
<%= %w(jonh mary michael).map { |x| x.upcase } %><br>

<br>
<b><%= '%w(jonh mary michael).map(&:upcase)' %></b><br>
<%= %w(jonh mary michael).map(&:upcase) %><br>