<p id="notice"><%= notice %></p>

<h1>Listing Zombies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zombies.each do |zombie| %>
      <tr>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= link_to 'Show', zombie %></td>
        <td><%= link_to 'Edit', edit_zombie_path(zombie) %></td>
        <td><%= link_to 'Destroy', zombie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zombie', new_zombie_path %> <br>

<%= link_to 'zombies_wannabe', zombies_wannabe_path %>


<% provider = "GoogleOauth2" %>

<%= pretty_provider = provider == 'GoogleOauth2' ? "Google": provider %> 

<%= debug pretty_provider %>

<%= debug Time.zone.now %>
<%= debug Time.zone.today %>
<%= debug Time.current %>
<%= debug 1.hour.ago %>
<%= debug 1.day.from_now %>
<%= debug Date.yesterday %>
<%= debug Date.tomorrow %>