<p>
  <strong>The Zombie:</strong>
  <%= @zombie_f.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @zombie_f.bio %>
</p>

<%# level 3 example code%>
<% brain = Brain.try(:find, 2) %>
<h2><%= brain ? brain.flavor : 'No initial brain' %></h2>

<% zo = @zombie.id %>
<p>The brain: <%= Brain.find(2).status %></p>
<p>Go to all <%= link_to "Zombies", zombies_path,  data: { confirm: 'Are you sure?'} %></p>

<%# level 3 example code%>

<%# Iterate over the param hash%>

<% @params_hash.each do |p,v| %>
<strong>Key: </strong><%= p %><strong>, value: </strong><%= v %><br>
<% end %>



<%= link_to 'Edit', edit_zombie_path(@zombie) %>
<%= link_to 'Back', zombies_path %>
