<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @zombie.bio %>
</p>

<%# level 3 example code%>
<% brain = Brain.try(:find, 2) %>
<h2><%= brain ? brain.flavor : 'No initial brain' %></h2>

<% zo = @zombie.id %>
<p>The brain: <%= Brain.find(2).status %></p>
<p>Go to all <%= link_to "Zombies", zombies_path,  data: { confirm: 'Are you sure?'} %></p>

<%# level 3 example code%>


<%= link_to 'Edit', edit_zombie_path(@zombie) %>
<%= link_to 'Back', zombies_path %>
