<p>@my_format<%= debug(@my_format) %></p>
<h2>This is the view for the zombie's wannabe</h2>
<p>
  <strong>The zombie's wannabe:</strong>
</p>

<% @wannabe.each do |zombie| %>
  <strong>zombie: </strong><%= zombie.name %><br>
<% end %>

<%= link_to 'Back to zombie list', zombies_path %>

<p>this is @my_flash <%= @my_flash %></p>
<% if !@my_flash.empty? %>
  <%= @my_flash[:b] %><br>
<% end %>

<p><%= FormatHelper.print_hello %></p>

<%= 'This is just for check the @zombie_like_human' %><br>
<%= @current_human.name %><br>
<%= @zombie_like_human.name %><br>
